{template 'header'}

<!-- Main Container start -->
<div class="dashboard-container">

  <div class="container">
    <!-- Top Nav Start -->
    {template 'nav'}   <!-- Top Nav End -->
    <div class="sub-nav hidden-sm hidden-xs">
      <ul>
        <li><a href="#" class="heading">首页</a></li>
<!--        <li class="hidden-sm hidden-xs">
          <a href="#" class="selected">会员管理</a>
        </li>-->
      
     </ul>
      <div class="custom-search hidden-sm hidden-xs">
        <a href="#">会员卡管理中心</a> &gt; <a>首页</a>
      </div>
    </div>
    <!-- Sub Nav End -->
<div class="dashboard-wrapper">
  <div class="row">
	   <div class="col-sm-12">
<!--		  
		   <div>
			   <span>会员总数：</span><span>{$card_num}</span>
		   </div>
		   <div>
			   <span>剩余短信数量：</span><span>{$sms_number}条</span>
		   </div>-->
	   </div>
  
 
  </div>
</div>
<footer>
  <p>版权信息</p>
</footer>
  </div>
</div></body></html>